.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer img {
  padding: 3rem;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 1rem;
  }
  .footer img {
    max-width: 120px;
    padding-top: 2rem;
    padding-bottom: 0;
  }
  .footer p {
    max-width: 130px;
    text-align: center;
  }
}
