.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem;
  margin-bottom: 0;
}
.navbar-logo {
  height: 68px;
}

.navbar-links {
  display: flex;
  gap: 3rem;
  font-size: 24px;
}
.navbar-links a {
  text-decoration: none;
  color: black;
}

.navbar-links a.active {
  text-decoration: underline;
}

h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: row;
    align-items: center;
    margin: 1rem;
  }
  .navbar-links {
    text-transform: uppercase;
    gap: 1rem;
    align-items: center;
  }
  .navbar-logo {
    max-width: 40%;
  }
  .navbar-logo img {
    max-width: 100%;
    height: auto;
  }
  h2 {
    font-size: 16px;
  }
}
