.bannerflat {
  position: relative;
  height: 410px;
  border-radius: 25px;
  background-image: url("/public/accomodation.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 768px) {
  .bannerflat {
    height: 255px;
    margin: 1rem;
  }
}
