.descriptionbar-container {
  display: flex;
  margin-inline: 3rem;
  margin-block: 1.5rem;
  gap: 3rem;
}

@media screen and (max-width: 768px) {
  .descriptionbar-container {
    flex-direction: column;
    margin-inline: 1rem;
    gap: 0;
  }
}
